:root {
    --wls-base-dark: rgb(10, 69,79);
    --wls-base-light: rgb(7, 117, 135);
    --wls-gray-dark: gray;
    --wls-gray-light: lightgray;
    --wls-logo-light: rgb(218, 74, 0);
    --wls-logo-dark: rgb(186, 0, 0);
    --wls-hint: rgb(240,240,240);
    --wls-border-radius: .5em;
    --wls-padding: .25em;
}

::selection {
    color: white;
    background-color: var(--wls-base-dark);
}

:link {
    color: var(--wls-base-dark);
}

:visited {
    color: var(--wls-base-dark);
}

:link:hover {
    color: var(--wls-base-light);
}

#navbar {
    border-bottom: 1px solid var(--wls-gray-light);
    box-shadow: 0px 0px 1em 1px var(--wls-gray-light);
}

.doc-logo-lg {
    height: 2.5rem;
}

.doc-logo {
    height: 1em;
}

.doc-content * {
    max-width: 100%;
}

.doc-sel {
    font-weight: bold;
}

.icon-lg {
    font-size: 1.5em;
}

#search_result {
    border-radius: .25em;
    box-shadow: 0.2em 0.2em 0.4em lightgrey;
    border: 1px solid gray;
    z-index: 10;
    max-height: 100%;
    overflow: auto;
    position: absolute;
    width: calc(100% - 2em);
    margin: 4em 1em 1em 1em;
    max-height: calc(100vh - 5em);
    background-color: white;
    padding: 1em;
}

#posts > div > div {
    border: 1px solid var(--wls-base-dark);
    border-radius: var(--wls-border-radius);
    padding: 1em;
    margin-bottom: 2em;
}

#posts > div > div > div:first-child {
    text-align: center;
    border-bottom: 1px solid var(--wls-base-dark);
    margin-bottom: 1em;
}

.doc-area {
    padding-left: 1em;
}
.doc-area > div {
    padding-top: .25em;
    padding-bottom: .25em;
    white-space: nowrap;
}

.doc-text {
    font-size: large;
}